@font-face {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
}

:root {
  --basic-black: #000000;
  --basic-black-active: rgba(0, 0, 0, 0.3);
  --basic-white: #ffffff;
  --basic-extra-light: #eeeeee;
  --basic-extra-dark: #283136;
  --pink-active: #d7373b;
  --pink-hover: #e74246;
  --pink: #fb565a;
  --grey-footer: #444444;
  --grey-form: #d7dcde;
  --grey-form-hover: #b4b9bb;
  --grey-radio-hover: #283136;
  --grey-social: #e1e1e1;
  --grey-product-text: #666666;
  --grey-button-hover: #dfdfdf;
  --grey-button-active: #d5d5d5;
  --button-green: #00ca74;
  --button-green-hover: #00bc6c;
  --button-green-active: #00aa62;
  --button-yellow: #efc849;
  --button-yellow-hover: #eab534;
  --button-yellow-active: #e5a722;
  --sort-button: #231f20;
  --sort-button-last: #a6a6a6;
  --grey-radio: #4d4d4d;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--pink);
  border: none;
  font-weight: 500;
  line-height: 18px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  cursor: pointer;
  border-radius: 3px;
  padding-top: 17px;
  padding-bottom: 15px;
}

.button:hover {
  background-color: var(--pink-hover);
}

.button:active {
  background-color: var(--pink-active);
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.service-item__description p {
  padding-bottom: 0;
}

.service-item__description button {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  padding: 17px 2.5em 15px;
  margin-top: 33px;
}

.button-green {
  background-color: var(--button-green);
}

.button-green:hover {
  background-color: var(--button-green-hover);
}

.button-green:active {
  background-color: var(--button-green-active);
  color: rgba(255, 255, 255, 0.3);
}

.button-yellow {
  background-color: var(--button-yellow);
}

.button-yellow:hover {
  background-color: var(--button-yellow-hover);
}

.button-yellow:active {
  background-color: var(--button-yellow-active);
  color: rgba(255, 255, 255, 0.3);
}

.filter-fieldset:first-child label {
  line-height: 22px;
  text-transform: uppercase;
}

.filter-fieldset:first-child input {
  line-height: 22px;
  background-color: var(--basic-extra-light);
}

.filter-fieldset:first-child input::placeholder {
  color: var(--basic-extra-dark);
}

.filter-fieldset:first-child input:last-child {
  padding-left: 21px;
}

.page-body,
.catalog-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-extra-dark);
  background-color: var(--basic-white);
}

.catalog-body {
  min-width: unset;
}

.page-body a,
.catalog-body a {
  text-decoration: none;
}

.page-body img,
.catalog-body img {
  max-width: 100%;
  height: auto;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
  text-transform: uppercase;
  padding-top: 50px;
}

.main-header {
  background-color: var(--basic-extra-light);
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-right: 43px;
  padding-top: 4px;
}

.site-navigation__item + .site-navigation__item {
  margin-left: 45px;
}

.site-navigation a:not([href]) {
  position: relative;
}

.site-navigation a:not([href])::before {
  position: absolute;
  width: 100%;
  bottom: -20px;
  height: 2px;
  content: "";
  background-color: var(--pink);
}

.site-navigation a,
.cart-link {
  color: var(--basic-black);
  font-weight: 500;
}

.site-navigation a:hover,
.cart-link:hover {
  color: var(--pink);
}

.main-header-logo:hover {
  opacity: 0.7;
}

.main-header-logo:active {
  opacity: 0.3;
}

.site-navigation a:active,
.cart-link:active,
.product-item h3:active {
  color: var(--basic-black-active);
}

.cart-link {
  display: flex;
  align-items: center;
}

.cart-link img {
  margin-right: 25px;
}

.slider {
  position: relative;
  background-color: var(--basic-extra-light);
}

.slider-list {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.slider-item h2 {
  color: var(--basic-black);
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  display: grid;
  grid-column: 1/-1;
  grid-row: 1;
  margin-top: 65px;
  margin-bottom: 0;
}

.slider-item p {
  grid-column: 1/-1;
  grid-row: 2;
  max-width: 416px;
  margin-top: 28px;
}

.slider-item img {
  grid-column-start: 2;
  grid-row: 1/-1;
  margin-top: -12px;
  margin-left: 16px;
}

.slider-item {
  display: none;
  grid-template-rows: repeat(3, auto);
}

.slide {
  display: none;
}

.slide-current {
  display: grid;
}

.slider-item__left a {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  margin-top: 38px;
  margin-bottom: 80px;
  padding: 17px 3.4em 15px;
}

.slider-controls {
  position: absolute;
  bottom: 96px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  display: flex;
  width: 88px;
  justify-content: space-between;
}

.slider-controls button {
  position: relative;
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
  content: "";
}

.about {
  padding-bottom: 74px;
}

.about__wrapper {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 51px;
}

.about-left {
  width: 100%;
  max-width: 650px;
}

.about h3 {
  color: var(--basic-extra-dark);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}

.about > h3:last-of-type {
  color: var(--basic-black);
}

.about-text {
  color: var(--basic-black);
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 0;
  margin-top: 34px;
  margin-bottom: 32px;
}

.about-text-description {
  margin: 0;
  margin-bottom: 40px;
}
.about-left h3 {
  margin: 40px 0 23px;
}

.about-list {
  padding: 0;
  margin-top: 24px;
  list-style: none;
  margin-left: 4px;
}

.about-list__item {
  display: flex;
  align-items: center;
}

.about-list__item::before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--pink);
  margin-right: 7px;
  position: relative;
  left: -4px;
}

.about-list__item + .about-list__item {
  margin-top: 24px;
}

.about-benefits {
  width: 100%;
  max-width: 360px;
}

.about-benefits h3 {
  white-space: nowrap;
  margin-top: 36px;
  margin-left: 51px;
}

.about-benefits__image {
  width: 360px;
  height: 208px;
  margin-left: 33px;
  background-image: url("../img/nerds-illustration.png");
}

.about-benefits-list {
  display: grid;
  width: 379px;
  grid-template-columns: 130px 125px 135px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 126px;
  margin-left: 34px;
  margin-top: 30px;
}

.about-benefits-item:nth-of-type(2) {
  margin-left: -10px;
}

.about-benefits-item:nth-of-type(3) {
  margin-left: -16px;
}

.about-benefits-item h4 {
  margin: 0;
}

.about-benefits-item-title {
  color: var(--basic-black);
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}

.about-benefits-item-title sup {
  color: var(--basic-black);
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
}

.about-benefits-item p {
  line-height: 18px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
  margin-top: 10px;
}

.service {
  padding: 70px 0;
  position: relative;
}

.service-item {
  margin: 0;
}

.service-item__image {
  width: 300px;
  height: 146px;
  margin-top: -5px;
}

.service-item__image--web {
  background-image: url("../img/web-site.png");
}

.service-item__image--apps {
  background-image: url("../img/apps.png");
}

.service-item__image--presentation {
  background-image: url("../img/presentation.png");
}

.service__wrapper {
  display: flex;
  justify-content: space-between;
}

.service-item + .service-item {
  margin-left: 100px;
}

.service-item h3 {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-top: 18px;
}

.service-item__description {
  margin-top: 24px;
}

.partner-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 46px;
  padding-bottom: 39px;
  border-top: 2px solid var(--basic-extra-light);
  border-bottom: 2px solid var(--basic-extra-light);
  align-items: center;
  margin-top: -18px;
  margin-left: -9px;
}

.partner-list li {
  position: relative;
}

.partner-list li:nth-of-type(1) {
  padding-left: 40px;
  padding-right: 48px;
}

.partner-list li:nth-of-type(2) {
  margin-left: 15px;
  padding-left: 32px;
  padding-right: 44px;
}

.partner-list li:nth-of-type(3) {
  margin-left: 24px;
  padding-left: 36px;
  padding-right: 55px;
}

.partner-list li:nth-of-type(4) {
  margin-left: 35px;
  padding-left: 30px;
  padding-top: 5px;
}

.partner-list li:last-child::after {
  display: none;
}

.partner-list li::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: var(--basic-extra-light);
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.partner-logo {
  opacity: 0.2;
}

.partner-logo:hover {
  opacity: 1;
}

.partner-logo:active {
  opacity: 0.1;
}

.main-footer {
  padding: 68px 0;
}

.main-footer__wrapper {
  display: grid;
  grid-template-columns: 351px 1fr;
  color: var(--grey-footer);
  line-height: 22px;
}

.main-footer__wrapper p:first-of-type {
  margin-top: 7px;
}

.main-footer__wrapper p:last-of-type {
  margin-top: 10px;
}

.footer-text {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--basic-black);
  margin: 0;
}

.modal {
  display: none;
  width: 960px;
  position: absolute;
  top: 2001px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 63px 100px 84px;
  background: var(--basic-white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}

.modal label {
  color: var(--basic-black);
  line-height: 18px;
  font-weight: 700;
  padding-bottom: 9px;
}

.modal h2 {
  margin: 0;
  font-size: 45px;
  line-height: 53px;
}

.write-us-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  width: 760px;
  margin-top: 37px;
}

.write-us-form button {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  padding: 17px 5.2em 15px;
  margin-top: 47px;
}

.write-us-item {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.write-us-item input {
  font: inherit;
  background-color: transparent;
  border: 2px solid #d7dcde;
  line-height: 18px;
  padding: 0 0.9em;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 3px;
}

.write-us-item textarea {
  line-height: 18px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  padding: 1em 0.9em;
  height: 118px;
  box-sizing: border-box;
  resize: none;
  padding-top: 13px;
}

.write-us-item:last-of-type {
  grid-column: 1 / -1;
  margin-top: 34px;
}

.write-us-item input:hover,
.write-us-item textarea:hover {
  background-color: transparent;
  border-color: var(--grey-form-hover);
}

.write-us-item input:focus,
.write-us-item textarea:focus {
  background-color: transparent;
  border-color: var(--basic-black);
}

.write-us-item input:invalid,
.write-us-item textarea:invalid {
  background-color: transparent;
  border-color: var(--pink-hover);
  color: var(--pink-hover);
}

.write-us-item input::placeholder,
.write-us-item textarea::placeholder {
  color: var(--grey-footer);
  opacity: 0.5;
}

.write-us-item input:focus::placeholder {
  opacity: 1;
}

.write-us-item input:invalid::placeholder {
  color: var(--pink-hover);
}

.write-us-form-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;
  background-color: var(--basic-white);
  border: none;
  color: rgba(251, 86, 90, 0.3);
  font-size: 49px;
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  cursor: pointer;
}

.write-us-form-close:hover {
  color: var(--pink);
}

.write-us-form-close:active {
  color: rgba(251, 86, 90, 0.1);
}

.footer-social {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: -50px;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  flex-wrap: wrap;
}

.footer-social__item + .footer-social__item {
  margin-left: 9px;
  margin-bottom: 5px;
}

.social-button {
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: var(--grey-social);
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-button:hover {
  border-radius: 50%;
  background-color: var(--pink-hover);
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-button:active {
  border-radius: 50%;
  background-color: var(--pink-active);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social-button:active img {
  opacity: 0.3;
}

.adress .button {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  padding: 17px 2.75em 15px;
  color: var(--basic-white);
}

.page-title {
  margin: 0;
  padding: 70px 0 109px;
  background-color: var(--basic-extra-light);
  color: var(--basic-black);
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  margin-top: -3px;
}

.page-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 140px;
  margin-top: 55px;
}

filter-fieldset:first-child input {
  padding-left: 21px;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.filter legend {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: -2px;
}

.price {
  margin-bottom: 48px;
}

.filter ul {
  list-style: none;
  line-height: 20px;
}

.filter-input-radio + label {
  position: relative;
}

.filter-input-radio:hover:not(:disabled) + label,
.filter-input-checkbox:hover:not(:disabled) + label {
  color: var(--grey-radio-hover);
}

.filter-input-radio:disabled + label,
.filter-input-checkbox:disabled + label {
  color: var(--grey-radio-hover);
  opacity: 0.3;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -36px;
  width: 17px;
  height: 17px;
  border: 4px solid var(--grey-radio);
  border-radius: 50%;
  opacity: 0.4;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -28px;
  width: 9px;
  height: 9px;
  background-color: var(--grey-radio);
  opacity: 0.4;
  border-radius: 50%;
}

.filter-input-radio:hover:not(:disabled) + label::before,
.filter-input-radio:hover:not(:disabled) + label::after,
.filter-input-radio:focus + label::before,
.filter-input-radio:focus + label::after {
  opacity: 1;
}

.filter-input-range {
  padding: 40px 25px;
  width: 100%;
  max-width: 205px;
}

.filter-input-range__wrapper {
  background-color: var(--basic-extra-light);
  margin-top: 48px;
  margin-bottom: 14px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;
  background: var(--grey-form);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--button-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
  box-sizing: content-box;
  -webkit-appearance: none;
  appearance: none;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.filter-price {
  display: flex;
  margin-bottom: 54px;
}

.filter-price__input {
  text-align: center;
  width: 100%;
  max-width: 80px;
  height: 38px;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  padding-left: 21px;
  box-sizing: border-box;
}

.filter-price__label {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.filter-price__label:last-of-type {
  margin-left: 33px;
}

.filter-grid ul {
  margin: 0;
  padding: 0;
  margin-bottom: 43px;
  margin-top: 15px;
  margin-left: 37px;
}

.filter-grid li + li {
  margin-top: 20px;
}

.filter-features legend {
  margin-top: 4px;
}

.filter-input-checkbox + label {
  position: relative;
}

.filter-input-checkbox + label::before {
  display: block;
  position: absolute;
  top: -2px;
  left: -36px;
  opacity: 0.4;
  content: url(../img/checkbox-off.svg);
}

.filter-input-checkbox:checked + label::before {
  content: url(../img/checkbox-on.svg);
}

.filter-input-checkbox:hover:not(:disabled) + label::before,
.filter-input-checkbox:focus + label::before {
  opacity: 1;
}

.filter-features ul {
  margin: 0;
  padding: 0;
  margin-top: 14px;
  margin-bottom: 48px;
  margin-left: 37px;
}

.filter-features li + li {
  margin-top: 20px;
}

.sort {
  display: flex;
  align-items: center;
  width: 100%;
}

.sort__title {
  margin: 0;
  margin-right: auto;
}

.sort-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  margin-right: 48px;
  padding: 0;
  margin-top: -6px;
}

.sort-item + .sort-item {
  margin-left: 25px;
}

.sort-item:last-child {
  margin-top: -4px;
  margin-left: 27px;
}

.sort-item button {
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  appearance: none;
}

.sort-item-current button {
  opacity: 1;
}

.sort-item button:hover,
.sort-item-current button:hover {
  color: var(--basic-black);
  opacity: 0.6;
}

.sort-item button:active,
.sort-item-current button:active {
  color: var(--basic-black);
  opacity: 1;
}

.sort h2 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.sort .button {
  width: 11px;
  height: 10px;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  background-color: var(--sort-button-last);
  opacity: 0.2;
  border: none;
  border-radius: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.sort .button--down {
  transform: rotate(180deg);
  margin-right: 18px;
}

.sort .button:hover {
  background-color: var(--sort-button-last);
  opacity: 1;
}

.sort .button--active,
.sort .button:active {
  background-color: var(--sort-button);
  opacity: 1;
}

.button-show,
.button-page {
  background-color: var(--basic-extra-light);
  color: var(--basic-black);
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 0;
  padding-bottom: 0;
}

.button-show {
  margin-top: 2px;
  padding-top: 17px;
  padding-bottom: 15px;
}

.button-show,
.page-item:last-child .button-page {
  width: 260px;
}

.button-show:hover,
.button-page:hover {
  background-color: var(--grey-button-hover);
  color: var(--basic-black);
  opacity: 1;
}

.button-show:active,
.button-page:active {
  background-color: var(--grey-button-active);
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border: none;
}

.product {
  margin-top: 48px;
}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-item {
  position: relative;
  display: flex;
  flex-direction: column;
}

.product-item__header {
  width: 100%;
  height: auto;
  opacity: 0.12;
}

.product-item:hover .product-item__header {
  opacity: 1;
}

.product-item__image {
  width: 100%;
  height: auto;
  border-radius: 0 0 4px 4px;
}

.product-item:hover .product-item__image {
  filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.25));
}

.product-item a {
  color: var(--basic-black);
}

.product-item a:hover {
  color: var(--pink);
}

.product-item a:active {
  opacity: 0.3;
}

.product-item__title {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 12px;
}

.product-item p {
  color: var(--grey-product-text);
  line-height: 18px;
  text-align: center;
}

.product-item button:active {
  color: var(--basic-white);
}

.product-price {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--basic-extra-light);
}

.product-item:hover .product-price {
  display: flex;
  border-radius: 0 0 4px 4px;
  opacity: 1;
}

.product-item:first-child .product-price p {
  margin-left: -5px;
}

.product-price p {
  margin: 0;
  padding-bottom: 35px;
}

.product-price button {
  width: 200px;
  margin-bottom: 45px;
}

.page {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 49px;
}

.page-item + .page-item {
  margin-left: 11px;
  margin-bottom: 11px;
}

.button-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 3px;
}

.button-page-current {
  background-color: var(--basic-white);
  box-sizing: border-box;
  border: 3px solid #dbdbdb;
  border-radius: 3px;
}

.button-page-current:hover {
  background-color: var(--basic-white);
  cursor: unset;
}

.contacts {
  display: grid;
  grid-template-columns: 459px 1fr;
  margin-top: 78px;
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top -143px left 0;
  height: 416px;
}

.contacts img:first-of-type {
  grid-column: 1/-1;
  grid-row: 1/-1;
  height: 416px;
}

.contacts img:last-of-type {
  grid-column: 2;
  grid-row: 1;
  margin-left: 389px;
  margin-top: 71px;
  height: auto;
}

.contacts section {
  grid-column: 1;
  grid-row: 1/-1;
  background: var(--basic-white);
  padding-left: 50px;
  margin-top: 54px;
  margin-left: 140px;
  margin-bottom: 54px;
}

.contacts-adress .button {
  display: inline-block;
  padding: 17px 2.75em 15px;
  color: var(--basic-white);
}

.contacts h3 {
  margin: 0;
  color: var(--basic-black);
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 23px;
}

.contacts p,
.contacts a {
  margin: 0;
  color: var(--grey-product-text);
  line-height: 18px;
  margin-bottom: 18px;
}

.contacts a {
  display: block;
  margin-bottom: 38px;
}

.contacts-phone {
  color: var(--grey-product-text);
}

.container--min {
  width: 1060px;
}

.contacts-footer {
  margin-top: 48px;
}
