@font-face {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
}

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-extra-light: #eeeeee;
  --basic-extra-dark: #283136;
  --pink-active: #d7373b;
  --pink-hover: #e74246;
  --pink: #fb565a;
  --grey-footer: #444444;
  --grey-form: #d7dcde;
  --grey-form-hover: #b4b9bb;
  --grey-radio-hover: #283136;
  --grey-social: #e1e1e1;
  --grey-product-text: #666666;
  --grey-button-hover: #dfdfdf;
  --grey-button-active: #d5d5d5;
  --button-green: #00ca74;
  --button-green-hover: #00bc6c;
  --button-green-active: #00aa62;
  --button-yellow: #efc849;
  --button-yellow-hover: #eab534;
  --button-yellow-active: #e5a722;
}

.page-body,
.catalog-body {
  min-width: 935px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-extra-dark);
  background-color: var(--basic-white);
}

.page-body a,
.catalog-body a {
  text-decoration: none;
}

.page-body img,
.catalog-body img {
  max-width: 100%;
  height: auto;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
  text-transform: uppercase;
}

.site-navigation {
  list-style: none;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-extra-light);
}

.site-navigation a,
.cart-link {
  color: var(--basic-black);
  font-weight: 500;
}

.site-navigation a:hover,
.cart-link:hover,
.product-item h3:hover {
  color: var(--pink);
}

.site-navigation a:active,
.cart-link:active,
.main-header-logo:active img .product-item h3:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.main-header-logo:hover {
  color: var(--basic-black);
  opacity: 0.7;
}

.slider-list {
  list-style: none;
}

.slider-item h3 {
  color: var(--basic-black);
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.about h3 {
  color: var(--basic-extra-dark);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}

.about > h3:last-of-type {
  color: var(--basic-black);
}

.about-text {
  color: var(--basic-black);
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.about-list {
  list-style: ;
}

.about-benefits {
  list-style: none;
}

.about-benefits-item h3 {
  color: var(--basic-black);
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}

.about-benefits-item p {
  font-weight: 500;
  line-height: 18px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.percent {
  color: var(--basic-black);
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}

.service-item h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--pink);
  border: none;
  font-weight: 500;
  line-height: 18px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.button:hover {
  background-color: var(--pink-hover);
}
.button:active {
  background-color: var(--pink-active);
  color: rgba(255, 255, 255, 0.3);
}

.button-green {
  background-color: var(--button-green);
}

.button-green:hover {
  background-color: var(--button-green-hover);
}

.button-green:active {
  background-color: var(--button-green-active);
  color: rgba(255, 255, 255, 0.3);
}

.button-yellow {
  background-color: var(--button-yellow);
}

.button-yellow:hover {
  background-color: var(--button-yellow-hover);
}

.button-yellow:active {
  background-color: var(--button-yellow-active);
  color: rgba(255, 255, 255, 0.3);
}

.partner-logo {
  opacity: 0.2;
}

.partner-logo:hover {
  opacity: 1;
}

.partner-logo:active {
  opacity: 0.1;
}

.footer-text {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--basic-black);
}

.main-footer {
  color: var(--grey-footer);
  line-height: 22px;
}

.modal label {
  color: var(--basic-black);
  line-height: 18px;
  font-weight: 700;
}

.write-us-item input {
  font: inherit;
  background-color: transparent;
  border: 2px solid #d7dcde;
  line-height: 18px;
}

.write-us-item textarea {
  line-height: 18px;
}

.write-us-item input:hover {
  font: inherit;
  background-color: transparent;
  border: 2px solid var(--grey-form);
}

.write-us-item input:focus {
  font: inherit;
  background-color: transparent;
  border: 2px solid var(--basic-black);
}

.write-us-item input:invalid {
  font: inherit;
  background-color: transparent;
  border: 2px solid var(--pink-hover);
}

.footer-social {
  list-style: none;
}

.social-button {
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: var(--grey-social);
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-button:hover {
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: var(--pink-hover);
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-button:active {
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: var(--pink-active);
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-title {
  color: var(--basic-black);
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.filter legend {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.filter ul {
  list-style: none;
  line-height: 20px;
}

.filter-input-radio:hover + label,
.filter-input-checkbox:hover + label {
  color: var(--grey-radio-hover);
}

.filter-input-radio:disabled + label,
.filter-input-checkbox:disabled + label {
  color: var(--grey-radio-hover);
  opacity: 0.3;
}

.sort-list {
  list-style: none;
}

.sort-item a {
  color: var(--basic-black);
  opacity: 0.3;
}

.sort-item-current a {
  color: var(--basic-black);
}

.sort-item a:hover,
.sort-item-current a:hover {
  color: var(--basic-black);
  opacity: 0.6;
}

.sort-item a:active,
.sort-item-current a:active {
  color: var(--basic-black);
}

.button-show,
.button-page {
  background-color: var(--basic-extra-light);
  color: var(--basic-black);
  font-weight: 500;
  text-transform: uppercase;
}

.button-show:hover,
.button-page:hover {
  background-color: var(--grey-button-hover);
  color: var(--basic-black);
}

.button-show:active .button-page:active {
  background-color: var(--grey-button-active);
  color: var(--basic-black);
  opacity: 0.3;
}

.button-page-current {
  background-color: var(--basic-white);
  border: 3px solid #dbdbdb;
}

.product-list {
  list-style: none;
}

.product-item a {
  color: var(--basic-black);
}

.product-price {
  background-color: var(--basic-extra-light);
}

.product-item h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.product-item p {
  color: var(--grey-product-text);
}

.contacts h3 {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.contacts p,
.contacts a {
  color: var(--grey-product-text);
  line-height: 18px;
}

.contacts-phone {
  color: var(--grey-product-text);
}

.form {
  opacity: 0.12;
}

.form-current {
  opacity: 1;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
